useDynLib(rEDM, .registration=TRUE)

export(block_gp)
export(block_lnlp)
export(ccm)
export(ccm_means)
export(compute_stats)
export(make_block)
export(make_surrogate_data)
export(make_surrogate_shuffle)
export(make_surrogate_ebisuzaki)
export(make_surrogate_seasonal)
export(make_surrogate_twin)
export(multiview)
export(s_map)
export(simplex)
export(tde_gp)
export(test_nonlinearity)
import(Rcpp)
importFrom("methods", "new")
importFrom("stats", "aggregate", "fft", "predict", "runif", "sd",
              "smooth.spline", "var", "dist", "quantile")
importFrom("utils", "combn", "tail")