useDynLib( rEDM, .registration = TRUE )

export( Simplex   )
export( SMap      )
export( CCM       )
export( Multiview )
export( Embed     )
export( MakeBlock )
export( ComputeError     )
export( EmbedDimension   )
export( PredictInterval  )
export( PredictNonlinear )
export( SurrogateData    )

importFrom("graphics", "abline", "legend", "lines", "mtext", "par", "plot")
importFrom("utils", "data", "read.csv")
importFrom("stats", "fft", "predict", "rnorm", "runif", "sd", "smooth.spline")
import( methods )
import( Rcpp )
